@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="caixa-pesquisa text-light">

    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
    <p>Para mais informações sobre a Lei Geral de Proteção de Dados Pessoais, acesse o <a target="_blank" href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm">texto completo da Lei nº 13.709/2018</a>.</p>
    

</div>
